/* Global Styles */
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

.alert {
  position: absolute;
  top: 120px;
  width: calc(100% - 800px);
  margin-left: 400px;
  letter-spacing: 1px;
  text-align: center;
  border-radius: 5px;
  visibility: 1;
  height: 70px;
  padding-top: 25px;
  opacity: 0.6;
  z-index: 2299;
  background: var(--light-color);
  color: #333;
  transition: 0.5s ease;
  margin-bottom: 5px;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
  transition: 5s ease;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
  transition: 5s ease;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}
