@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

.section {
  width: calc(100% - 500px);
  height: 60vh;
  margin-left: 250px;
  margin-top: 150px;
  border: 1px solid black;
}
.section .create-advert {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section .section-title {
  width: 50%;
  font-size: 28px;
  background-color: #7ba5cf;
  color: #fff;
  text-align: start;
  margin-bottom: 20px;
  padding: 10px;
}

.section .create-advert .create-advert-form {
  width: 50%;
}

.section .create-advert .create-advert-form .create-advert-top {
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
}

.section
  .create-advert
  .create-advert-form
  .create-advert-top
  .create-advert-lbl {
  font-size: 20px;
  margin-bottom: 10px;
}

.section .create-advert .create-advert-form .create-advert-top input {
  padding: 10px;
  outline: none;
  border: 1px solid rgba(123, 165, 207, 0.8);
}

.section .create-advert .create-advert-form .create-advert-mid {
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
}
.section
  .create-advert
  .create-advert-form
  .create-advert-mid
  .create-advert-lbl {
  font-size: 20px;
  margin-bottom: 10px;
}

.section .create-advert .create-advert-form .create-advert-mid textarea {
  padding: 10px;
  outline: none;
  border: 1px solid rgba(123, 165, 207, 0.8);
  resize: none;
}
/*  */
.section .create-advert .create-advert-form .create-advert-bottom {
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
  margin-bottom: 20px;
}
.section
  .create-advert
  .create-advert-form
  .create-advert-bottom
  .create-advert-lbl {
  font-size: 20px;
  margin-bottom: 10px;
}

.section .create-advert .create-advert-form .create-advert-bottom input {
  padding: 10px;
  outline: none;
  border: 1px solid rgba(123, 165, 207, 0.8);
  resize: none;
}

.section .create-advert .create-advert-form button {
  width: 100%;
  font-size: 18px;
  padding: 10px;
  background-color: rgba(123, 165, 207, 1);
  color: #fff;
  border-radius: 5px;
  outline: none;
  border: 1px solid rgb(123, 165, 207);
  transition: 0.5s ease;
  cursor: pointer;
}

.section .create-advert .create-advert-form button:hover {
  background-color: #fff;
  color: rgb(123, 165, 207);
}
