@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
#wrapper2 {
  position: relative;
  top: 150px;
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 0 20px;
}
.register-container2 {
  display: flex;
  min-width: 75%;
  min-height: 85%;
  max-width: 75%;
  max-height: 85%;
  background: #fff;
  box-shadow: 1px 1px 17px 1px rgba(0, 0, 0, 0.4);
}
.login2 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-basis: 30%;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #1b2431;
  background: #161e29;
  padding: 5px 25px;
}
.login2 > img {
  height: 130px;
  object-fit: contain;
  margin-bottom: 25px;
}
.login2 > #business {
  position: absolute;
  opacity: 0.2;
  width: 100%;
  height: 100%;
}
.login2 > h3 {
  font-size: 25px;
  color: rgba(255, 255, 255, 255.5);
  margin-bottom: 25px;
  font-weight: 700;
}
.login2 > p {
  font-size: 14px;
  color: rgba(255, 255, 255, 255.2);
  text-align: justify;
  margin-bottom: 40px;
  font-weight: 400;
}
.login2 > #doyou2 {
  padding-top: 15px;
  font-size: 12px;
}
.login2 > a {
  background: #7ba5cf;
  border: 1px solid #1b2431;
  color: #fff;
  font-size: 15px;
  padding: 12px 40px;
  z-index: 1;
  border-radius: 50px;
  box-shadow: 2px 2px 5px #1b2431, -2px -2px 5px #1b2431;
  transition: 0.3s linear;
}
.login2 > a:hover {
  color: #1b2431;
  background: #fff;
}
.register2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  background: #fff;
  padding: 20px 40px;
}
.register2 > h1 {
  color: #161e29;
  margin-bottom: 20px;
  font-size: 30px;
}
.register2 > h1 > img {
  height: 130px;
  object-fit: contain;
  margin-bottom: 25px;
}
.register-form2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 50%;
  /* border: 1px solid;  */
  position: relative;
  left: 25%;
}
.fields2 {
  display: flex;
  flex-direction: column;
  width: 48%;
}
.fields2 > label {
  font-size: 18px;
  color: #1b2431;
  margin-bottom: 5px;
  font-weight: 600;
}
.fields2 > input {
  width: 100%;
  height: 25px;
  border: none;
  border-bottom: 1px solid #161e29;
  padding: 0 10px;
  color: #1b2431;
}
#login-sbt {
  color: white;
  border: 1px solid #7ba5cf;
  background: #7ba5cf;
  font-size: 16px;
  transition: 0.3s linear;
  height: 30px;
  width: 50%;
  border-radius: 5px;
  cursor: pointer;
}
#login-sbt:hover {
  background: #fff;
  color: #161e29;
}
@media only screen and (max-width: 768px) {
  .register-container2 {
    flex-direction: column;
    min-width: 90%;
    min-height: 90%;
  }
  .login2 {
    padding: 10px 25px;
  }
  .register-form2 {
    flex-direction: column;
  }
  .fields2 {
    width: 100%;
    margin-bottom: 10px;
  }
}
